@import 'variables'
@import 'typography'

*
	box-sizing: border-box

body
	margin: 0
	display: grid
	grid-template-areas: '.''.''.'
	grid-template-rows: auto 1fr auto
	min-height: 100vh

main
	background: lighten($primary-color, 50%)
	margin: 0 auto
	min-width: 1024px
	max-width: 100%
	padding: 1em 
footer
	background: $secondary-color
	color: $footer-color
	padding: 1em
	p
		margin: 0

@import 'navigation'