@import 'variables'
@import 'typography'

*,
*::before,
*::after
	box-sizing: border-box

body
	margin: 0
	display: grid
	grid-template-areas: '.''.''.'
	grid-template-rows: auto 1fr auto
	min-height: 100vh
	&.home
		section
			padding: 3em 0

	&.topic
		section:nth-child(even)
			background: lighten($topic-color, 60%)
		section:first-child
			background: linear-gradient( rgba($topic-color, 0.5), $topic-color), url('img/topics.jpg') fixed
			background-size: cover, cover
			p,h1,h2,h3
				color: $white-color
		h2, h3
			color: $topic-color
	&.workshop
		section:nth-child(even)
			background: lighten($workshop-color, 60%)
		section:first-child
			background: linear-gradient( rgba($workshop-color, 0.5), $workshop-color), url('img/workshop.jpg') fixed
			background-size: cover, cover
			p,h1,h2,h3
				color: $white-color
		h2, h3
			color: $workshop-color
		#assignments
			article:not(:last-child):not(#arduino-sound)
				border-bottom: 5px dotted $arduino-color
	&.excursion
		section:nth-child(even)
			background: lighten($excursion-color, 60%)
		section:first-child
			background: linear-gradient( rgba($excursion-color, 0.5), $excursion-color), url('img/nemo.jpg') fixed
			background-size: cover, cover
			p,h1,h2,h3
				color: $white-color
		h2, h3
			color: $excursion-color

	&.lab-weeks
		section:nth-child(even)
			background: lighten($lab-weeks-color, 60%)
		section:first-child
			background: linear-gradient( rgba($lab-weeks-color, 0.5), $lab-weeks-color), url('img/lab-weeks.jpg') fixed
			background-size: cover, cover
			p,h1,h2,h3
				color: $white-color
		h2, h3
			color: $lab-weeks-color
		#process
			article:not(:last-child)
				border-bottom: 5px dotted $lab-weeks-color
			a
				font-weight: bold
				color: $lab-weeks-color

	.expectations, .important
		padding: 0
		h3
			background: $secondary-color
			color: $white-color
			margin: 0
			color: #fff
			padding: 0.5em 1em
		p
			background: lighten($secondary-color, 60%)
			padding: 1em
			margin: 0
	.important
		padding-top: 1em
		h3
			background: #dd0000
		p
			background: lighten(#dd0000, 20%)
header
	z-index: 999
main
	width: 100%
	padding-top: 3em
	article
		padding: 1em
		position: relative

.gif
	width: 100%
	display: block

.img
	max-width: 100%

.breadboard
	max-width: 128px
	position: absolute
	right: 0
	padding: 3em 2em
	cursor: pointer
	&:active
		background: none


pre
	background: lighten($black-color, 10%)
	color: $white-color
	max-width: 90vw
	border-radius: 3px
	counter-reset: line
	overflow-x: auto
	&::before
		content: 'Arduino IDE'
		font-weight: bold
		width: 100%
		display: block
		padding: 0.5em 2.5em 0.5em
		text-transform: uppercase
		color: $white-color
		background: $arduino-color
	code
		counter-increment: line
		tab-size: 0.5em
		padding-right: 1em
		&:first-child
			line-height: 2em
		&::before
			content: counter(line)
			user-select: none
			color: grey
			padding-right: 10px
			margin-right: 10px
			display: inline-block
			width: 4em
			height: 2em
			font-style: italic
			border-right: 3px solid $arduino-color
			text-align: right
	&.processing
		&::before
			content: 'Processing'
			background: $processing-color
		code
			&::before
				border-right: 3px solid $processing-color

img
	max-width: 100%

figure
	max-width: 100%
	position: relative
	img
		width: 100%
	figcaption
		opacity: 0.3
		position: absolute
		color: $white-color
		bottom: 0.5em
		right: 0.5em
		font-weight: bold
		text-shadow: 2px 1px 1px $black-color, 0 0 2px $black-color
		transition: opacity 1s ease-out
	&:hover
		figcaption
			opacity: 1
			transition: opacity 0.25s ease-out



.fa-film,
.fa-music
	font-size: 64px
	cursor: pointer
	color: $arduino-color

iframe
	background: $black-color
	border: 0

.computer-vision
	article 
		img
			max-width: 100%

blockquote span
	&.light
		font-weight: bold
		color: $white-color
		text-shadow: 0 0 2px $black-color, 0 0 8px #ff0
	&.dark
		font-weight: bold
		text-shadow: 0 0 2px $black-color

.artificial-creatures
	display: grid
	grid-template-areas: "ac-title" "ac-intro" "ac-img" "ac-homeostasis"
	grid-template-columns: 1fr

	#ac-title
		grid-area: ac-title

	#ac-intro
		grid-area: ac-intro

	#ac-img
		grid-area: ac-img

	#ac-homeostasis
		padding: 1em
		grid-area: ac-homeostasis

		p
			position: relative
			span
				position: absolute
				padding: 0.5em
				font-weight: bold
			progress[value]
				-webkit-appearance: none
				appearance: none
				position: relative
				height: 2em
				&::-webkit-progress-bar
					background-color: none
					border-radius: 2px
					box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset
				&::-webkit-progress-value
					background-image: -webkit-linear-gradient(45deg, transparent 20%, rgba(0, 0, 0, .1) 33.33%, rgba(0,0, 0, .1) 66.66%, transparent 40%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, $topic-color, $processing-color)
				&::after
					content: attr(value)
					color: $white-color
					position: absolute
					top: 0
					padding: 0.5em
					font-weight: bold

@media screen and (min-width: 1056px)
	main
		section:first-child
			padding-top: 128px
		article
			margin: 0 auto
			width: 1024px
			box-sizing: border-box

	body.home section:first-child
		padding-top: 3em
	pre
		code
			tab-size: 2em

	.artificial-creatures
		display: grid
		grid-template-areas: "ac-title ac-title""ac-intro ac-intro""ac-img ac-homeostasis"
		grid-template-columns: 1fr 1fr

footer
	background: $secondary-color
	color: $footer-color
	padding: 1em
	p
		margin: 0

@import 'navigation'

@media print
	header, #arduino-navigation
		display: none
