$primary-color: #3C3B35
$secondary-color: #05396B

$white-color: #FFFFFF
$black-color: #000000

$home-link-color: lighten($black-color, 10%)
$topic-color: #05396B
$workshop-color: #0B6E4F
$excursion-color: #FA9F42
$lab-weeks-color: #721817

$navigation-color: #FFFFFF

$font-color: #000000

$arduino-color: #006468
$processing-color: #14283C

$footer-color: #FFFFFF

$font-stack: Helvetica, sans-serif