$primary-color: #5CDB94
$secondary-color: #05396B

$topic-color: #05396B
$workshop-color: #0B6E4F
$excursion-color: #FA9F42
$lab-weeks-color: #721817

$navigation-color: #FFFFFF

$font-color: #000000

$white-color: #FFFFFF
$black-color: #000000

$footer-color: #FFFFFF

$font-stack: Helvetica, sans-serif