* {
  font-family: Helvetica, sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 18px; }

strong {
  font-weight: bold; }
  strong.topic {
    color: #05396B; }
  strong.workshop {
    color: #0B6E4F; }
  strong.excursion {
    color: #FA9F42; }
  strong.lab-weeks {
    color: #721817; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  display: grid;
  grid-template-areas: "." "." ".";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }
  body.topic section:nth-child(even) {
    background: #a7d2fb; }
  body.topic h1, body.topic h2, body.topic h3 {
    color: #05396B; }
  body.workshop section:nth-child(even) {
    background: #b4f7e2; }
  body.workshop h1, body.workshop h2, body.workshop h3 {
    color: #0B6E4F; }
  body.workshop #assignments article:not(:last-child) {
    border-bottom: 5px dotted #006468; }
  body.excursion section:nth-child(even) {
    background: #fdd1a5; }
  body.excursion h1, body.excursion h2, body.excursion h3 {
    color: #FA9F42; }
  body.lab-weeks section:nth-child(even) {
    background: #f4c8c7; }
  body.lab-weeks h1, body.lab-weeks h2, body.lab-weeks h3 {
    color: #721817; }
  body .expectations {
    padding: 0; }
    body .expectations h3 {
      background: #05396B;
      color: #FFFFFF;
      margin: 0;
      color: #fff;
      padding: 0.5em 1em; }
    body .expectations p {
      background: #a7d2fb;
      padding: 1em;
      margin: 0; }

header {
  z-index: 999; }

main {
  background: white;
  width: 100%;
  padding-top: 3em; }
  main article {
    padding: 1em;
    position: relative; }

.gif {
  width: 100%;
  display: block; }

.img {
  max-width: 100%; }

.breadboard {
  max-width: 128px;
  position: absolute;
  right: 0;
  padding: 3em 2em;
  cursor: pointer; }
  .breadboard:active {
    background: none; }

pre {
  background: #000000;
  color: #FFFFFF;
  border-radius: 3px;
  counter-reset: line;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }
  pre:before {
    content: "Arduino IDE";
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 0.5em 2.5em 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #006468; }
  pre code {
    counter-increment: line; }
    pre code:first-child {
      line-height: 2em; }
    pre code:before {
      content: counter(line);
      user-select: none;
      color: grey;
      padding-right: 10px;
      margin-right: 10px;
      display: inline-block;
      width: 2em;
      height: 2em;
      font-style: italic;
      border-right: 3px solid #006468;
      text-align: right; }
  pre.processing:before {
    content: "Processing";
    background: #14283C; }
  pre.processing code:before {
    border-right: 3px solid #14283C; }

.fa-film {
  font-size: 64px;
  cursor: pointer; }

blockquote span.light {
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 0 8px #ff0; }
blockquote span.dark {
  font-weight: bold;
  text-shadow: 0 0 2px #000000; }

@media screen and (min-width: 1024px) {
  main article {
    margin: 0 auto;
    width: 1024px; } }
footer {
  background: #05396B;
  color: #FFFFFF;
  padding: 1em; }
  footer p {
    margin: 0; }

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  nav ul li {
    flex-grow: 1;
    position: initial; }
    nav ul li a, nav ul li p {
      display: block;
      padding: 1em;
      font: 100% Helvetica, sans-serif;
        font-weight: bold;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      margin: 0;
      cursor: pointer; }
    nav ul li ul {
      display: none;
      background: none;
      flex-direction: column;
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      overflow: hidden;
      left: 0; }
      nav ul li ul li {
        margin: 0;
        padding: 0; }
        nav ul li ul li a {
          text-align: left; }
    nav ul li:hover ul {
      display: block; }
    nav ul li.topic {
      background: #05396B; }
      nav ul li.topic:hover {
        background: #042c53; }
      nav ul li.topic li:not(:last-child) {
        border-bottom: 1px solid #042c53; }
      nav ul li.topic li {
        background-color: #05396B; }
        nav ul li.topic li:hover a {
          background: #042c53; }
    nav ul li.home-link {
      background: #0B986B; }
      nav ul li.home-link:hover {
        background: #09805a; }
      nav ul li.home-link li:not(:last-child) {
        border-bottom: 1px solid #09805a; }
      nav ul li.home-link li {
        background-color: #0B986B; }
        nav ul li.home-link li:hover a {
          background: #09805a; }
    nav ul li.workshop {
      background: #0B6E4F; }
      nav ul li.workshop:hover {
        background: #09573e; }
      nav ul li.workshop li:not(:last-child) {
        border-bottom: 1px solid #09573e; }
      nav ul li.workshop li {
        background-color: #0B6E4F; }
        nav ul li.workshop li:hover a {
          background: #09573e; }
    nav ul li.excursion {
      background: #FA9F42; }
      nav ul li.excursion:hover {
        background: #f99229; }
      nav ul li.excursion li:not(:last-child) {
        border-bottom: 1px solid #f99229; }
      nav ul li.excursion li {
        background-color: #FA9F42; }
        nav ul li.excursion li:hover a {
          background: #f99229; }
    nav ul li.lab-weeks {
      background: #721817; }
      nav ul li.lab-weeks:hover {
        background: #5d1413; }
      nav ul li.lab-weeks li:not(:last-child) {
        border-bottom: 1px solid #5d1413; }
      nav ul li.lab-weeks li {
        background-color: #721817; }
        nav ul li.lab-weeks li:hover a {
          background: #5d1413; }

#mobile-nav {
  display: block;
  position: fixed;
  width: 100%; }
  #mobile-nav .nav-label {
    display: none; }

#main-nav {
  display: none;
  position: fixed;
  width: 100%; }

@media screen and (min-width: 640px) {
  #mobile-nav .nav-label {
    display: block; }
  #mobile-nav li:not(.home-link) i {
    display: none; } }
@media screen and (min-width: 1224px) {
  #mobile-nav {
    display: none; }

  #main-nav {
    display: block; }
    #main-nav ul li {
      position: relative; }
      #main-nav ul li ul {
        left: initial; } }

/*# sourceMappingURL=style.css.map */
