* {
  font-family: sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

strong {
  font-weight: bold; }
  strong.topic {
    color: #05396B; }
  strong.workshop {
    color: #0B6E4F; }
  strong.excursion {
    color: #FA9F42; }
  strong.lab-weeks {
    color: #721817; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  display: grid;
  grid-template-areas: "." "." ".";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }
  body.topic section:nth-child(even) {
    background: #a7d2fb; }
  body.topic h1, body.topic h2, body.topic h3 {
    color: #05396B; }
  body.workshop section:nth-child(even) {
    background: #b4f7e2; }
  body.workshop h1, body.workshop h2, body.workshop h3 {
    color: #0B6E4F; }
  body.excursion section:nth-child(even) {
    background: #fdd1a5; }
  body.excursion h1, body.excursion h2, body.excursion h3 {
    color: #FA9F42; }
  body.lab-weeks section:nth-child(even) {
    background: #f4c8c7; }
  body.lab-weeks h1, body.lab-weeks h2, body.lab-weeks h3 {
    color: #721817; }

main {
  background: white;
  width: 100%;
  padding-top: 3em; }
  main article {
    padding: 2em 1em; }

@media screen and (min-width: 1024px) {
  main article {
    margin: 0 auto;
    width: 1024px; } }
footer {
  background: #05396B;
  color: #FFFFFF;
  padding: 1em; }
  footer p {
    margin: 0; }

.expectations {
  padding: 0; }
  .expectations h3 {
    background: #05396B;
    margin: 0;
    color: #fff;
    padding: 0.5em 1em; }
  .expectations p {
    background: #a7d2fb;
    padding: 1em;
    margin: 0; }

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  nav ul li {
    flex-grow: 1;
    position: initial; }
    nav ul li a, nav ul li p {
      display: block;
      padding: 1em;
      font: 100% Helvetica, sans-serif;
        font-weight: bold;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      margin: 0;
      cursor: pointer; }
    nav ul li ul {
      display: none;
      background: none;
      flex-direction: column;
      padding: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      overflow: hidden;
      left: 0; }
      nav ul li ul li {
        margin: 0;
        padding: 0; }
        nav ul li ul li a {
          text-align: left; }
    nav ul li:hover ul {
      display: block; }
    nav ul li.topic {
      background: #05396B; }
      nav ul li.topic:hover {
        background: #042c53; }
      nav ul li.topic li:not(:last-child) {
        border-bottom: 1px solid #042c53; }
      nav ul li.topic li {
        background-color: #05396B; }
        nav ul li.topic li:hover a {
          background: #042c53; }
    nav ul li.workshop {
      background: #0B6E4F; }
      nav ul li.workshop:hover {
        background: #09573e; }
      nav ul li.workshop li:not(:last-child) {
        border-bottom: 1px solid #09573e; }
      nav ul li.workshop li {
        background-color: #0B6E4F; }
        nav ul li.workshop li:hover a {
          background: #09573e; }
    nav ul li.excursion {
      background: #FA9F42; }
      nav ul li.excursion:hover {
        background: #f99229; }
      nav ul li.excursion li:not(:last-child) {
        border-bottom: 1px solid #f99229; }
      nav ul li.excursion li {
        background-color: #FA9F42; }
        nav ul li.excursion li:hover a {
          background: #f99229; }
    nav ul li.lab-weeks {
      background: #721817; }
      nav ul li.lab-weeks:hover {
        background: #5d1413; }
      nav ul li.lab-weeks li:not(:last-child) {
        border-bottom: 1px solid #5d1413; }
      nav ul li.lab-weeks li {
        background-color: #721817; }
        nav ul li.lab-weeks li:hover a {
          background: #5d1413; }

#mobile-nav {
  display: block;
  position: fixed;
  width: 100%; }
  #mobile-nav .nav-label {
    display: none; }

#main-nav {
  display: none;
  position: fixed;
  width: 100%; }

@media screen and (min-width: 640px) {
  #mobile-nav .nav-label {
    display: block; }
  #mobile-nav i {
    display: none; } }
@media screen and (min-width: 1224px) {
  #mobile-nav {
    display: none; }

  #main-nav {
    display: block; }
    #main-nav ul li {
      position: relative; }
      #main-nav ul li ul {
        left: initial; } }

/*# sourceMappingURL=style.css.map */
